# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
venv/
venv_linux/

# ==========================
# OpenAI API Key
# ==========================
.env
.env.*
!.env.example

# ==========================
# Django
# ==========================
db.sqlite3
media/

# ==========================
# ChromaDB
# ==========================
chroma_db/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# macOS
# ==========================
.DS_Store
